@import "../../components/styles/share.style.scss";

.container {
    color: white;
}
.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}
.product-header {
    color: rgb(233, 66, 176);
}
.form-control {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: $shopapp-background-color;
}
.form-label {
    color: white;
}
.product-header {
    color: rgb(233, 66, 176);
}
.product-order {
    color: rgb(105, 244, 181);
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: rgb(12, 13, 54);
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
  }
.ng-feedback{
  color: red;
}

.border-wrapper {
  border: 1px solid white;
}
.product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.product-quantity button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.product-quantity input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}
.product-quantity input:focus {
  outline: none;
}
