<div class="container-fluid">
  <header class="header bg-success text-white d-flex justify-content-between">
    <h1 class="header-title">
      <span class="btn btn-success" (click)="onHideIconClick()"><i class="fa-solid fa-bars"></i></span>
      Dashboard
    </h1>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </header>

  <div class="row">
    <ng-container *ngIf="showSidebar">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="position-sticky">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="orders">
                <i class="fab fa-first-order icon"></i>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="categories">
                <i class="fa-solid fa-list"></i> Categories
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products">
                <i class="fa-brands fa-product-hunt"></i> Products
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </ng-container>
    <ng-container>
      <div class="col-md-10 col-lg-10 overflow-auto" [ngClass]="{'col-md-12 col-lg-12 ':!showSidebar}">
        <!--        <ng-container [ngSwitch]="adminComponent">-->
        <!--          <app-order-admin *ngSwitchCase="'orders'"></app-order-admin>-->
        <!--          <app-product-admin *ngSwitchCase="'products'"></app-product-admin>-->
        <!--          <app-category-admin *ngSwitchCase="'categories'"></app-category-admin>-->
        <!--        </ng-container>-->
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </div>
</div>
